<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                        http://cxf.apache.org/jaxws
    					http://cxf.apache.org/schemas/jaxws.xsd">
    					
    <!-- 配置spring提供的属性文件加载器 -->
	<context:property-placeholder location="/WEB-INF/config/jdbc.properties" />
	
	<!-- 启用基于注解方式的IoC配置 用来扫描注解，这里一次性扫描所有包-->
	 <context:component-scan base-package="com.myfirstssh.book.service">
		<context:exclude-filter type="annotation"
			expression="org.aspectj.lang.annotation.Aspect" />
	</context:component-scan> 
	
		<!-- 带c3p0连接池的数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl"
			value="jdbc:mysql://${jdbc.host}:${jdbc.port}/${jdbc.database}?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
    
		<!-- 其它的一些优化参数 -->
		<property name="minPoolSize" value="5"/>
		<property name="maxPoolSize" value="5000"/>
		<property name="checkoutTimeout" value="5000"/>
		<property name="maxStatements" value="20"/>
		<property name="acquireIncrement" value="10"/> 
		<property name="initialPoolSize" value="1"/>
        <property name="maxIdleTime" value="25000"/>
		<property name="acquireRetryAttempts" value="30"/>
        <property name="acquireRetryDelay" value="1000"/>
        <property name="testConnectionOnCheckin" value="true"/>
        <property name="testConnectionOnCheckout" value="true"/>
        <property name="automaticTestTable" value="c3p0TestTable"/>
        <property name="idleConnectionTestPeriod" value="18000"/>
	</bean>
		<!-- ==============================DAO层 -->
	<!-- Spring为Hibernate提供的一个SessionFactory实体类，它产生的Session会自动绑定到当前线程上 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
				
				<prop key="hibernate.hbm2ddl.auto">none</prop>

			</props>
		</property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath*:com/myfirstssh/*/model</value>
				<!-- <value>classpath:jbpmcfg/jbpmMapping</value> -->
				<!-- <value>classpath*:com/vrv/soc/ticket/jbpmcfg/jbpmMapping</value> -->
			</list>
		</property>
	</bean>
	
		<!-- ==============================Service层 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- ==============================用于原生sql查询 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 基于注解的方式使用事务配置声明 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	

	
	
	<!-- 读取properties文件的配置 -->
	<bean id="propValue"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>/WEB-INF/config/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	
	
</beans>    					